<header>
<h1> <%= userid%> </h1>




<% if(userid){ %>

 <a style="width: 300px" href = "/logout"> LogOut </a>
 <a style="width: 300px" href = "/urls"> List Links </a>
 <a style="width: 300px" href = "/"> Home</a>




<% } else {%>

<a style="width: 300px" href = "/login"> LogIn </a>

<a style="width: 300px" href = "/register"> Register </a>


<% } %>






</header>