<header>
<h1> <%= userid%> </h1>




<% if(userid){ %>

 <a style="width: 300px" href = "/logout"> <button> LogOut </button></a>
 <a style="width: 300px" href = "/urls"> <button> List Links </button></a>
 <a style="width: 300px" href = "/"> <button> Home</button></a>




<% } else {%>

<a style="width: 300px" href = "/login"> <button> LogIn </button></a>

<a style="width: 300px" href = "/register"> <button> Register </button></a>


<% } %>






</header>