<!DOCTYPE html>
<head>
<% include ./partials/_header %>
  <title>TinyApp</title>
</head>

<html lang="en">


<body>
<p> LOG IN: </p>

  <form method="POST" id="" action="/login">



    <label for="email">Enter e-mail:</label>
    <input type="email" name="email" placeholder="example@hotmail.com" style="width: 300px">

    <label for="password">Enter password:</label>
    <input type="password" name="password" placeholder="********" style="width: 300px">

    <button type="submit" name="submit">Submit</button>



  </form>
</body>



</html>