<!DOCTYPE html>
<html lang="en">
<head>
<% include ./partials/_header %>
  <title>TinyApp</title>
</head>

<body>


<p>
Register Below:
</p>

<p>
  <form method="POST" action="/register">
    <label for="email">Enter e-mail:</label>
    <input type="email" name="email" placeholder="example@hotmail.com" style="width: 300px">

    <label for="password">Enter password:</label>
    <input type="password" name="password" placeholder="********" style="width: 300px">

    <button type="submit" name="submit">Submit</button>

  </form>





<!--   <form method="POST" id="" action="/register">

    <input type="hidden" name="id" value="" style="width: 300px">
    <button type="submit">Delete</button>
   </form> -->




</p>


</body>
</html>