<!DOCTYPE html>
  <html lang="en">
    <head>
      <% include partials/_header %>
    </head>


  <body style="font-size:20px; padding:50px;">

    <section id="style-mid">
      <form action="/urls" method="POST">
        <div class="text-center container">
          <label for="longURL">Enter a URL:</label>
        </div>

        <div class="text-center">
          <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
          <input type="submit" value="Submit">
        </div>
      </form>
    </section>


  </body>
</html>